#JAVA
*.class
*.jar

#VIM
*.un~
*.swp
*.swo
.[a-z]*~
*.[a-z]*~
.*.[a-z]*~
*.*.[a-z]*~

#ANTLR4
*.interp
*.tokens
*BaseListener.java
*BaseVisitor.java
*Lexer.java
*Parser.java
*Visitor.java
!MyVisitor.java
